<template>
  <div class="A">
      asdf
  </div>
</template>

<script type="text/ecmascript-6">
export default {
  data () {
    return {

    }
  },
  components: {

  }
}
</script>

<style lang="scss">
</style>
